        .container {
            width: 80%;
            margin: 10px auto;
            overflow: hidden;   
            padding: 20px;
        }


        .text-content{
            overflow: hidden;
        }
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            padding: 0; 
            background-color:#fcf7f7;

        }

        header {
            background: #BFAAB4;
            color: #873508;
            padding-top: 30px;
            padding-left: 20px;
            min-height: 80px;
            border-bottom: 50px solid #eaeaea;
        }
        header a {
            color: #000;
            text-transform: capitalize;
            font-size: 16px;
        }
        h2 {
            color: #4d0443; 
            text-decoration:none;
        }

        nav { 
            background-color: #BFAAB4;
            margin-left: 20px;
            margin-bottom: 20px;
            color: #000;
        }

        nav a {
            padding: 10px 15px;
            border-radius: 5px; 
            background-color: #f2f2f2; 
            color: #000; 
            text-decoration: none; 
        }
        nav a:hover {
            background-color: #cccccc; 
            text-transform: none;
        }


